* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #9d2cff 0%, #f626e1 100%);
}

.card {
    height: 200px;
    width: 200px;
    background-color: rgb(25, 25, 25);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    padding: 10px 0 30px;
}

.card .title {
    text-align: center;
}

.card .number {
    font-size: 40px;
    line-height: 150px;
    text-align: center;

}